# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/
# Site
# 博客的标题
title: 抖森先森

# banner显示的子标题
subtitle: Hiddleston

# 博客介绍（同时用于seo）
description: 日常学习与兴趣交流的个人博客

# banner显示的简短介绍
subtitle_desc: Hiddleston, Hiddleston blog, PHP, 前端开发, 全栈开发

# seo关键字
keywords: Hiddleston, Hiddleston blog, PHP, 前端, 程序员,VUE, 前端开发, 全栈开发, node.js, javascript

# 站长信息

author: Hiddleston
  #link: http://fuduoluo.github.io
  
# 个人介绍  
introduction: 

# 博客的favicon图标，支持本地及在线两种方式，本地请将图标放置于 themes/hexo-theme-skapp/source/img 目录下
favicon_ico: ./img/code.png

# 博客的左上角logo图标，支持本地及在线两种方式
logo: https://images.unsplash.com/photo-1560487765-67095b892dd1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60

# 头像/二维码（用于显示在底部）二选一
avatar: https://images.unsplash.com/photo-1560487765-67095b892dd1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60

# 文章的默认封面
#default_cover: https://images.unsplash.com/flagged/photo-1556669546-b1f29875df1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60

#默认语言
language: zh-Hans

#时区
timezone: Asia/Shanghai

# header 的背景图
#header_cover: https://images.unsplash.com/photo-1524601500432-1e1a4c71d692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60
# 404 页面的背景图
error_page_bg: https://images.unsplash.com/photo-1542434684-41a0bf4e6cd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60

# 页面加载loading图标
#loader_img: 

# 用于页面 footer 的站长信息
#about:
  #info: 本站是基于 Hexo 搭建的静态资源博客，主要用于分享日常学习、生活及工作的一些心得总结，欢迎点击右下角订阅 rss。
  #address: Fuzhou, Fujian Province, China
  #email: fuduoluo@gmail.com

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: http://fuduoluo.github.io
root: /
permalink: :abbrlink.html
abbrlink:
  alg: crc32 
  rep: hex    

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:
  - README.md
  - CNAME

# Writing
new_post_name:  # 新的博文的文件名
  :title.md
default_layout: #默认布局
  post 
titlecase: # 将标题转换为首字母大写标题
  false 
external_link: # 在新标签中打开外部链接
  true 
filename_case: #把文件名称转换为 (1) 小写或 (2) 大写
  0 
render_drafts: #是否显示草稿
  false 
post_asset_folder: #是否启动资源文件夹
  false 
relative_link: #把链接改为与根目录的相对位址
  false 
future: true
highlight: #代码块的设置
  enable: true
  line_number: true
  auto_detect: false
  tab_replace:
  
# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date
  
# Category & Tag
default_category: #如果撰写文章时没有设置分类，默认的分类选择
  uncategorized 
category_map: #用于映射分类的别名
tag_map:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
#theme: hexo-theme-skapp
theme: next
# Deployment
## Docs: https://hexo.io/docs/deployment.html
deploy:
  type: git
  repo: http://github.com/fuduoluo/fuduoluo.github.io.git
  branch: master
# Extensions
## Plugins: http://hexo.io/plugins/
# RSS订阅插件
feed: 
  type: atom
  path: atom.xml
  limit: 0
plugins: hexo-generate-feed
# 搜索
search:
  path: search.xml
  field: post
  format: html
  limit: 10000
# Busuanzi
#busuanzi: true
