#footer
  background: $white
#footer-wrap
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 50px 0 50px;
    text-align: left!important;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--font-color)
    font-size: 1.4em;
    #log
      display: flex;
      flex-direction: column;
      margin-right: 60px;
      align-self: center;
      margin: auto 0;
      max-width: 200px;

      #weblog
        align-self: center;
        a
          color: var(--heo-fontcolor);
          height: 44px;
          line-height: 36px;
          img
            filter: drop-shadow(0 12px 12px #ee7d7936);
            border-radius:20px;
    a
      color: var(--font-color)
    #link
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0 0 1rem 0;
      #linkgroup
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        min-width: 180px;
        h3 
          padding: 0 12px;
        a 
          color: var(--font-color);
          height: 44px;
          line-height: 36px;
          padding: 0 12px;
    i
      margin-right: .5rem;
      width: 22px;
      font-size: 18px;