:root
    --laputcat-mask:rgba(255, 255, 255, 0.6);
    
// [data-theme=light] 
//     --laputcat-fontcolor: #363636;
//     --laputcat-background: #fff;
//     --laputcat-maskbg: rgba(255, 255, 255, 0.6);
//     --laputcat-navbg: rgba(255, 255, 255, 0.9);
//     --laputcat-hovertext: #007AFF;
//     --laputcat-ahoverbg: #F7F7FA;
//     --laputcat-lighttext: #ef794f;
//     --laputcat-secondtext: rgba(60, 60, 67, 0.6);
//     --laputcat-card-btn-bg: #363636;
//     --laputcat-post-blockquote-bg: #f2f5f7;
//     --laputcat-post-tabs-bg: #f2f5f7;
//     --laputcat-sceondbg: #F7F7FA;
  
// [data-theme=dark] {
//     --laputcat-fontcolor: #F7F7FA;
//     --laputcat-background: #1e1e1e;
//     --laputcat-maskbg: rgba(0,0,0, 0.6);
//     --laputcat-navbg: rgba(0,0,0, 0.9);
//     --laputcat-hovertext: #0A84FF;
//     --laputcat-ahoverbg: #fff;
//     --laputcat-lighttext: #f2b94b;
//     --laputcat-secondtext: rgba(235, 235, 245, 0.6);
//     --laputcat-card-btn-bg: #3f3f3f;
//     --laputcat-post-blockquote-bg: #000;
//     --laputcat-post-tabs-bg: #121212;
//     --laputcat-sceondbg: #252627;
*::-webkit-scrollbar
  width: 2px
  height: 8px

.button--animated
  &:before
    transform-origin: 50%;
    border-radius: 1rem;